.button-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    cursor: pointer;
  }

  .button-link:hover {
    background-color: #012e5e;
  }
