.contact-container {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.contact-card {
  background: white;
  padding: 32px;
  border-radius: 20px;
  width: 90%;
  max-width: 420px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.role {
  font-size: 16px;
  margin-bottom: 16px;
  color: #555;
}

.intro {
  font-size: 14px;
  margin-bottom: 24px;
  color: #444;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-form button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid gray;
  background: white;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.2s ease;
}

.contact-form button:hover {
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  .contact-card {
    padding: 24px;
  }
}
