.footer {
    grid-template-rows: 1fr;
    width: 100%; 
    background-color:black;
}

.first {
    grid-row: 1; 
    grid-column: 1;
    z-index: 2;
    text-align: center;
    color: white;
    overflow: visible;
}

.second {
    grid-row: 1; 
    grid-column: 1;
    z-index: 1;
    height: 100%; 
    width: 100%; 
    overflow: visible;
}
