.main-container{
    position: relative;
    height: auto;
}
.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none; 
}
.carousel{
    position: relative;
}


.description{
    margin-top: 20px;
    max-width: 1200px;
    margin-bottom: 80px;
    line-height: 1.8; 
}

.button-link {
    display: inline-block;
    padding: 7px 15px;

    color:black;
background-color: rgb(244, 242, 242);
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight:150;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    border:  gray;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
  }

  .button-link:hover {
  background-color: rgb(223, 219, 219);

}

