*,
*::before,
*::after {
  box-sizing: border-box;
}
.projects-container {
    position: relative;
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 100vh; 
    min-height: 500px;
    height: auto;
    margin: 20px 100px 20px 100px; 
    border-radius: 20px;
}
.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none; 
}

.projects{
    position: relative;
    z-index: 1; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    margin: 10px;
    border: 1px solid rgb(197, 195, 195);  
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 320px;
    padding-top: 10px; 
    transition: transform 0.2s ease; 

}
.project:hover{
    transform: translateY(-2px); 

}

@media (max-width: 768px) {
    .projects {
        flex-direction: column; 
        align-items: center; 
    }

    .projects-container {
        margin: 10px; 
        height: auto; 
    }
}

.title{
    font-size: large;
    font-weight: bolder;
    padding-left: 30px;
}
.images{
    width: 350px;
    height: 200px;
    border: 1px solid rgb(197, 195, 195);  
    border-radius: 20px;
    display: flex;
    justify-self: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.tags{
    display: flex;
    flex-direction: row;
}
.tags p{
    color: black;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid gray; 
    cursor: pointer;  
    display: inline-block;
    margin: 2px;
    text-align: center;
    font-size:small;  
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.moreinfo{
    color: black;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid gray; 
    cursor: pointer;  
    display: inline-block;
    margin: 2px;
    text-align: center;
    font-size:small;  
    font-style: italic;
}
.filters{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.filters p{
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid gray; 
    cursor: pointer;  
    display: inline-block;
    margin: 2px;
    text-align: center;
    font-size:medium;
    width: 120px;  
    transition: transform 0.2s ease; 
}
.filters p:hover{
    transform: translateY(-3px); 
}


